#DrawZone
{
	width: 85%;
	height: 700px;
	border-radius: 5px;
	background-color: white;
	margin-left: auto;
	margin-right:2%;
	position:relative;
	box-shadow: 0 5px 10px rgba(0,0,0,10);
}

#ChoiceZone
{
	
	width: 10%;
	height: 700px;
	border-radius: 5px;
	background-color: white;
	float:left;
	margin-right:auto;
	position:relative;
	box-shadow: 0 5px 10px rgba(0,0,0,10);
}

body
{
	background-color: #383838;
}


#MainTitle
{
	font: 20px Arial;
	font-weight: bold;
	line-height: 1;
	color: gray;
	width:auto;
	max-width:333px;
	border-top-right-radius:5px;	
	border-bottom-left-radius:5px;	
	padding:10px;
	margin-top:0px;
	border:1px black;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	position:relative;
	margin-left: auto;
	margin-right:39%;
	width: 10%;
	background-color:white;
	text-align: center;
}
